@import "abstract/variable";
@import "abstract/animation";
@import "abstract/mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text-color);
}

html {
    scroll-snap-type: y mandatory;
    .main,
    .header {
        scroll-snap-align: start;
    }
    scrollbar-color: black var(--background);
}

body {
    background-color: var(--background);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

@import "layout/header";
@import "layout/navigation";
@import "layout/service";
@import "layout/project";
@import "layout/testilmonials";
@import "layout/team";
@import "layout/contact";
@import "layout/footer";
