@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap");
/*
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
*/
:root {
  --text-color-light: #ebebeb;
  --text-color-dark: #9c9c9c;
  --primary-color-yellow: #f7ac54;
  --secondary-color-yellow: #feb960;
  --primary-color-black: #171717;
  --background: #202020;
  --border: 1px solid rgb(255, 255, 255, 0.7); }

@-webkit-keyframes header__arrow {
  0% {
    opacity: 0;
    transform: translateY(0); }
  10% {
    opacity: 0.95;
    transform: translateY(0); }
  50% {
    opacity: 0.75;
    transform: translateY(1rem); }
  100% {
    opacity: 0;
    transform: translateY(3rem); } }

@keyframes header__arrow {
  0% {
    opacity: 0;
    transform: translateY(0); }
  10% {
    opacity: 0.95;
    transform: translateY(0); }
  50% {
    opacity: 0.75;
    transform: translateY(1rem); }
  100% {
    opacity: 0;
    transform: translateY(3rem); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in-down {
  0% {
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-down {
  0% {
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-up {
  0% {
    transform: translateY(2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    transform: translateY(2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes border-width {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes border-width {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes border-height {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

@keyframes border-height {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color-light); }

body {
  background-color: var(--background);
  font-family: "Open Sans", sans-serif; }

.section__name {
  color: var(--primary-color-yellow);
  text-transform: uppercase;
  margin: 1.5rem; }

.section__title {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem; }
  @media (min-width: 750px) {
    .section__title {
      width: 75%;
      font-size: 2.75rem;
      line-height: 5rem; } }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-color: var(--background) black; }
  html .header,
  html .main,
  html .project {
    scroll-snap-align: start; }

.scroll {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: var(--primary-color-black) var(--primary-color-black);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }
  .scroll__item {
    scroll-snap-align: start;
    height: 100vh;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color-black); }

.service__card {
  max-width: 15rem;
  letter-spacing: 0.1rem; }
  .service__card--icon {
    color: var(--primary-color-yellow);
    font-size: 1.5rem;
    margin: 1rem 0; }
  .service__card--title {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300; }
  .service__card--text {
    color: var(--text-color-dark);
    line-height: 1.5;
    margin: 1rem 0; }
  .service__card--button {
    border: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    background: linear-gradient(to right, var(--secondary-color-yellow) 50%, var(--text-color-light) 50%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    transition: all 1s linear;
    cursor: pointer; }
    @supports not ((-webkit-background-clip: text) or (background-clip: text)) {
      .service__card--button {
        color: var(--text-color-light);
        background: transparent; } }
    .service__card--button:hover, .service__card--button:active {
      background-position-x: 0rem; }

.testimonials__card {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-black);
  padding: 0 2rem;
  overflow: hidden;
  scroll-snap-align: start;
  flex-shrink: 0; }
  @media (min-width: 700px) {
    .testimonials__card {
      width: 60vw;
      max-width: 700px; } }
  .testimonials__card--image {
    margin: 0 2rem; }
  .testimonials__card--text {
    width: 90%;
    text-align: center;
    padding: 2rem 0;
    line-height: 2rem; }
  .testimonials__card--name {
    padding: 2rem 0 1rem;
    text-transform: uppercase;
    color: var(--primary-color-yellow);
    font-size: 0.9rem;
    position: relative; }
    .testimonials__card--name::before {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      top: 2.5rem;
      right: 1rem;
      transform: translateX(-100%);
      background-color: #fff; }
    .testimonials__card--name::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      top: 2.5rem;
      left: 1rem;
      transform: translateX(100%);
      background-color: #fff; }
  .testimonials__card--job {
    padding: 1rem 0 2rem;
    font-size: 0.7rem; }

.team__card {
  max-width: 300px;
  height: 330px;
  overflow: hidden;
  padding: 1rem 1rem 2rem;
  background-color: var(--primary-color-black);
  position: relative;
  font-size: 0.8rem;
  line-height: 1.3rem;
  transition: all 0.5s ease; }
  @media (min-width: 400px) {
    .team__card:hover::before {
      height: 70px; }
    .team__card:hover::after {
      width: 70px; }
    .team__card:hover .team__card--right-side {
      transform: translateY(0);
      opacity: 1; }
    .team__card:hover .team__card--picture {
      width: 50px;
      transform: translate(-125px, -150px); }
    .team__card:hover .team__card--rotate {
      transform: rotate(90deg) translate(-120px, 175px); } }
  .team__card::before {
    content: "";
    height: 60px;
    width: 1px;
    background-color: var(--primary-color-yellow);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease; }
    @media (min-width: 400px) {
      .team__card::before {
        height: 0; } }
  .team__card::after {
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--primary-color-yellow);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease; }
    @media (min-width: 400px) {
      .team__card::after {
        width: 0; } }
  .team__card--left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px; }
    @media (min-width: 400px) {
      .team__card--left-side {
        width: 100%;
        margin: auto; } }
  .team__card--right-side {
    width: 220px;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s ease; }
    @media (min-width: 400px) {
      .team__card--right-side {
        transform: translateY(150px);
        opacity: 0; } }
  .team__card--picture {
    border-radius: 50%;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-125px, -150px);
    transition: all 0.5s ease; }
    @media (min-width: 400px) {
      .team__card--picture {
        width: 100px;
        transform: translate(-50%, -50%); } }
  .team__card--rotate {
    flex-grow: 1;
    margin: 1rem 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: rotate(90deg) translate(-120px, 175px);
    transition: all 0.5s ease; }
    @media (min-width: 400px) {
      .team__card--rotate {
        transform: rotate(0) translate(-50%, -50%); } }
  .team__card--name {
    color: var(--primary-color-yellow);
    text-transform: uppercase;
    font-weight: 100; }
  .team__card--text {
    color: var(--text-color-dark);
    line-height: 1.4rem; }

.line {
  height: 100px;
  width: 1px;
  background-color: var(--primary-color-yellow); }

.contact__list {
  display: grid;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  padding: 2rem 0;
  background-color: var(--primary-color-black); }
  @media (min-width: 700px) {
    .contact__list {
      grid-template-columns: repeat(2, 1fr); } }
  .contact__list--item {
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .contact__list--item input,
    .contact__list--item textarea {
      z-index: 1;
      justify-self: start;
      order: 2;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--text-color-dark); }
      .contact__list--item input:placeholder-shown + label,
      .contact__list--item textarea:placeholder-shown + label {
        transform: translateY(100%);
        color: var(--text-color-dark); }
      .contact__list--item input:focus,
      .contact__list--item textarea:focus {
        border-bottom: 1px solid var(--primary-color-yellow); }
      .contact__list--item input:focus + label,
      .contact__list--item textarea:focus + label {
        transform: translateY(0);
        color: var(--primary-color-yellow); }
      .contact__list--item input::-webkit-input-placeholder, .contact__list--item textarea::-webkit-input-placeholder {
        opacity: 0; }
      .contact__list--item input::-moz-placeholder, .contact__list--item textarea::-moz-placeholder {
        opacity: 0; }
      .contact__list--item input:-ms-input-placeholder, .contact__list--item textarea:-ms-input-placeholder {
        opacity: 0; }
      .contact__list--item input::-ms-input-placeholder, .contact__list--item textarea::-ms-input-placeholder {
        opacity: 0; }
      .contact__list--item input::placeholder,
      .contact__list--item textarea::placeholder {
        opacity: 0; }
    .contact__list--item label {
      order: 1;
      font-size: 1rem;
      padding: 0.5rem;
      transform: translateY(0);
      transition: all 0.5s ease;
      text-transform: uppercase;
      color: var(--primary-color-yellow); }
  .contact__list--message {
    grid-column: 1 / -1; }
    .contact__list--message textarea {
      resize: vertical;
      height: 100px; }
  .contact__list--submit {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact__list--submit button {
      border: none;
      background-color: var(--primary-color-yellow);
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem 2rem;
      color: var(--primary-color-black);
      cursor: pointer; }

.header {
  position: relative; }
  .header__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(23, 23, 23, 0.7), rgba(23, 23, 23, 0.7)), url(../img/background.jpg);
    background-size: cover;
    background-position: center; }
  .header__border--top {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    -webkit-animation: border-width 1s ease-in backwards 0.5s;
            animation: border-width 1s ease-in backwards 0.5s; }
  .header__border--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    -webkit-animation: border-width 1s ease-in backwards 0.5s;
            animation: border-width 1s ease-in backwards 0.5s; }
  .header__wrapper {
    width: 70%;
    position: relative; }
    .header__wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: white;
      -webkit-animation: border-height 1s ease-in backwards 0.5s;
              animation: border-height 1s ease-in backwards 0.5s; }
    .header__wrapper::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: white;
      -webkit-animation: border-height 1s ease-in backwards 0.5s;
              animation: border-height 1s ease-in backwards 0.5s; }
    @media (min-width: 750px) {
      .header__wrapper {
        width: 60%; } }
    .header__wrapper--heading {
      font-family: "Merriweather", serif;
      text-align: center;
      font-weight: 300;
      font-size: 2rem;
      line-height: 3rem;
      padding: 1rem;
      text-shadow: 0.5rem 0.5rem 1rem black;
      transition: all 0.5s ease;
      -webkit-animation: fade-in 2s ease-in backwards;
              animation: fade-in 2s ease-in backwards; }
      @media (min-width: 750px) {
        .header__wrapper--heading {
          font-size: 3.5rem;
          line-height: 5.6rem;
          padding: 2rem; } }
      .header__wrapper--heading--span {
        color: var(--primary-color-yellow); }
  .header__list {
    display: flex;
    margin: 2rem 0;
    font-size: 0.8rem;
    text-shadow: 0.5rem 0.5rem 1rem black;
    -webkit-animation: fade-in-down 0.5s ease-in backwards 1.5s;
            animation: fade-in-down 0.5s ease-in backwards 1.5s; }
    .header__list--item {
      background: linear-gradient(to right, var(--secondary-color-yellow) 50%, var(--text-color-light) 50%);
      background-size: 200% 200%;
      background-repeat: no-repeat;
      background-position-x: 100%;
      -webkit-background-clip: text;
              background-clip: text;
      color: transparent;
      transition: all 1s linear;
      cursor: pointer;
      margin-left: 1rem; }
      @supports not ((-webkit-background-clip: text) or (background-clip: text)) {
        .header__list--item {
          color: var(--text-color-light);
          background: transparent; } }
      .header__list--item:hover, .header__list--item:active {
        background-position-x: 0rem; }
      .header__list--item:not(:last-child) {
        border-right: 1px solid var(--primary-color-yellow);
        padding-right: 1rem; }
  .header__link {
    height: 4rem; }
  .header__arrow {
    font-size: 1.2rem;
    color: var(--primary-color-yellow);
    -webkit-animation: header__arrow 2s linear infinite backwards 2s;
            animation: header__arrow 2s linear infinite backwards 2s;
    cursor: pointer; }
  .header__navigation {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    -webkit-animation: fade-in-up 0.5s ease-in backwards 2s;
            animation: fade-in-up 0.5s ease-in backwards 2s; }
    @media (max-width: 400px) {
      .header__navigation {
        opacity: 0; } }
    @supports not (scroll-snap-align: start) {
      .header__navigation {
        opacity: 0; } }
    @media (min-width: 750px) {
      .header__navigation {
        padding: 2rem 6rem; } }

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color-black);
    padding: 1rem 2rem; }
    @media (min-width: 750px) {
      .navigation__sticky {
        padding: 1rem 6rem; } }
  .navigation__logo {
    height: 2.5rem; }
  .navigation__contact {
    text-transform: uppercase;
    font-size: 0.75rem;
    cursor: pointer;
    background: linear-gradient(to right, var(--secondary-color-yellow) 50%, var(--text-color-light) 50%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    transition: all 1s linear; }
    @supports not ((-webkit-background-clip: text) or (background-clip: text)) {
      .navigation__contact {
        color: var(--text-color-light);
        background: transparent; } }
    .navigation__contact:hover, .navigation__contact:active {
      background-position-x: 0rem; }
    .navigation__contact--array {
      margin: 0 0.5rem;
      color: var(--primary-color-yellow); }
  .navigation__button {
    cursor: pointer;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transform: translateX(2.4rem); }
  .navigation__menu {
    width: 100%;
    position: absolute;
    top: 4.5rem;
    left: 0;
    opacity: 0;
    transform: translateY(-4rem);
    transition: all 0.5s ease; }
  .navigation__list {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color-black);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem; }
    @media (min-width: 500px) {
      .navigation__list {
        flex-direction: row; } }
    @media (min-width: 1000px) {
      .navigation__list {
        width: 50%;
        justify-content: space-around; } }
    .navigation__list--item {
      display: none;
      padding: 1rem;
      text-align: center;
      flex-grow: 1; }
      .navigation__list--item > a {
        background: linear-gradient(to right, var(--secondary-color-yellow) 50%, var(--text-color-light) 50%);
        background-size: 200% 200%;
        background-repeat: no-repeat;
        background-position-x: 100%;
        -webkit-background-clip: text;
                background-clip: text;
        color: transparent;
        transition: all 1s linear; }
        @supports not ((-webkit-background-clip: text) or (background-clip: text)) {
          .navigation__list--item > a {
            color: var(--text-color-light);
            background: transparent; } }
        .navigation__list--item > a:hover, .navigation__list--item > a:active {
          background-position-x: 0rem; }
  .navigation__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color-yellow);
    transition: all 0.5s ease;
    transform: translateX(-3px); }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: var(--primary-color-yellow);
      transition: all 0.5s ease; }
    .navigation__icon::before {
      top: 10px; }
    .navigation__icon::after {
      top: -10px; }

#navigation__checkbox {
  display: none; }
  #navigation__checkbox:checked ~ .navigation__menu {
    opacity: 1;
    transform: translateY(0); }
    #navigation__checkbox:checked ~ .navigation__menu .navigation__list--item {
      display: block; }
  #navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  #navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(-35deg);
    width: 35px;
    transform-origin: left; }
  #navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(35deg);
    width: 35px;
    transform-origin: left; }

.service {
  padding: 4 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 750px) {
    .service {
      padding: 4rem; } }
  .service__wrapper {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    @media (min-width: 750px) {
      .service__wrapper {
        flex-direction: row;
        justify-content: space-evenly; } }

.project__one, .project__two, .project__three {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
  text-shadow: 0.5rem 0.5rem 1rem black;
  transition: all 0.5s ease; }
  @media (min-width: 400px) {
    .project__one, .project__two, .project__three {
      background-size: 90%; } }
  @media (min-width: 800px) {
    .project__one, .project__two, .project__three {
      background-size: 70%;
      margin: 0 6rem; } }

.project__image {
  width: 80%; }
  @media (min-width: 1040px) {
    .project__image {
      width: 60%; } }

.project__wrapper--left {
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  position: absolute;
  left: 0;
  top: 1.5rem;
  transition: all 0.5s ease; }
  @media (min-width: 700px) {
    .project__wrapper--left {
      top: 0; } }

.project__wrapper--right {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: absolute;
  bottom: 3.5rem;
  right: 0; }
  @media (min-width: 700px) {
    .project__wrapper--right {
      bottom: 0; } }
  .project__wrapper--right .line {
    align-self: end; }

.project__subtitle {
  color: var(--primary-color-yellow);
  text-transform: uppercase;
  margin: 1rem 0; }

.project__title {
  font-family: "Merriweather", serif;
  font-size: 3rem; }

.project__detail, .project__view {
  background: linear-gradient(to right, var(--secondary-color-yellow) 50%, var(--text-color-light) 50%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 1s linear;
  display: block;
  border: none;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer; }
  @supports not ((-webkit-background-clip: text) or (background-clip: text)) {
    .project__detail, .project__view {
      color: var(--text-color-light);
      background: transparent; } }
  .project__detail:hover, .project__detail:active, .project__view:hover, .project__view:active {
    background-position-x: 0rem; }

.testimonials {
  padding: 4 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 750px) {
    .testimonials {
      padding: 4rem; } }
  .testimonials__list {
    width: 100%;
    margin: 3rem 0;
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 750px) {
      .testimonials__list {
        flex-direction: row;
        justify-content: space-evenly; } }
    .testimonials__list--item {
      margin: 1rem 0; }
  .testimonials__wrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
    width: 100vw; }
    @media (min-width: 700px) {
      .testimonials__wrapper {
        width: 60vw;
        max-width: 700px; } }
    .testimonials__wrapper--cards {
      width: 100vw;
      scrollbar-color: var(--primary-color-black) var(--primary-color-black);
      overflow-x: scroll;
      display: flex;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory; }
      @media (min-width: 700px) {
        .testimonials__wrapper--cards {
          width: 60vw;
          max-width: 700px; } }
    .testimonials__wrapper--position {
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 100vw; }
      @media (min-width: 700px) {
        .testimonials__wrapper--position {
          width: 60vw; } }
      .testimonials__wrapper--position .position {
        display: block;
        height: 0.25rem;
        margin: 0 1rem;
        width: 15%;
        background-color: var(--text-color-light); }
      .testimonials__wrapper--position .active {
        background-color: var(--primary-color-yellow); }

.team {
  padding: 4 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-black); }
  @media (min-width: 750px) {
    .team {
      padding: 4rem; } }
  .team__wrapper {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    max-width: 90vw;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    margin: 6rem auto 0;
    background-color: var(--background); }

.contact {
  background: linear-gradient(rgba(23, 23, 23, 0.7), rgba(23, 23, 23, 0.7)), url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 750px) {
    .contact {
      padding: 4rem 4rem 1rem; } }
  .contact__form {
    width: 100vw;
    margin: 2rem 0; }
    @media (min-width: 700px) {
      .contact__form {
        width: 60vw;
        max-width: 700px; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem;
  max-width: 800px; }
  @media (min-width: 700px) {
    .footer {
      flex-direction: row; } }
  .footer > * {
    margin: 1rem; }
  .footer .office {
    line-height: 2rem; }
    .footer .office__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1rem; }
    .footer .office__address, .footer .office__phone, .footer .office__mail {
      color: var(--text-color-dark);
      font-size: 0.9rem; }
    .footer .office__phone, .footer .office__mail {
      cursor: pointer;
      background: linear-gradient(to right, var(--secondary-color-yellow) 50%, var(--text-color-light) 50%);
      background-size: 200% 200%;
      background-repeat: no-repeat;
      background-position-x: 100%;
      -webkit-background-clip: text;
              background-clip: text;
      color: transparent;
      transition: all 1s linear; }
      @supports not ((-webkit-background-clip: text) or (background-clip: text)) {
        .footer .office__phone, .footer .office__mail {
          color: var(--text-color-light);
          background: transparent; } }
      .footer .office__phone:hover, .footer .office__phone:active, .footer .office__mail:hover, .footer .office__mail:active {
        background-position-x: 0rem; }
    .footer .office__links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      margin: 1.5rem 0 0; }
      .footer .office__links > * {
        cursor: pointer; }
