// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap");
/*
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
*/

:root {
    // COLORS
    --text-color-light: #ebebeb;
    --text-color-dark: #9c9c9c;

    --primary-color-yellow: #f7ac54;
    --secondary-color-yellow: #feb960;

    --primary-color-black: #171717;

    --background: #202020;

    // BORDERS
    --border: 1px solid rgb(255, 255, 255, 0.7);
}
