.contact {
    background: linear-gradient(rgba(23, 23, 23, 0.7), rgba(23, 23, 23, 0.7)),
        url(../img/background.jpg);
    background-position: center;
    background-size: cover;

    min-height: 100vh;
    padding: 4rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 750px) {
        padding: 4rem 4rem 1rem;
    }

    &__form {
        width: 100vw;
        margin: 2rem 0;
        @media (min-width: 700px) {
            width: 60vw;
            max-width: 700px;
        }
    }
}
