.header {
    position: relative;

    &__content {
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: linear-gradient(
                rgba(23, 23, 23, 0.7),
                rgba(23, 23, 23, 0.7)
            ),
            url(../img/background.jpg);
        background-size: cover;
        background-position: center;
    }

    &__border {
        &--top {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 2px;
            width: 100%;
            background-color: white;
            animation: border-width 1s ease-in backwards 0.5s;
        }
        &--bottom {
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            height: 2px;
            width: 100%;
            background-color: white;
            animation: border-width 1s ease-in backwards 0.5s;
        }
    }

    &__wrapper {
        // border: var(--border);
        width: 70%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background-color: white;
            animation: border-height 1s ease-in backwards 0.5s;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 2px;
            background-color: white;
            animation: border-height 1s ease-in backwards 0.5s;
        }

        @media (min-width: 750px) {
            width: 60%;
        }

        &--heading {
            font-family: "Merriweather", serif;
            text-align: center;
            font-weight: 300;
            font-size: 2rem;
            line-height: 3rem;
            padding: 1rem;
            text-shadow: 0.5rem 0.5rem 1rem black;

            transition: all 0.5s ease;
            animation: fade-in 2s ease-in backwards;

            @media (min-width: 750px) {
                font-size: 3.5rem;
                line-height: 5.6rem;
                padding: 2rem;
            }
            &--span {
                color: var(--primary-color-yellow);
            }
        }
    }

    &__list {
        display: flex;

        margin: 2rem 0;
        font-family: "Open Sans", sans-serif;
        font-size: 0.8rem;
        text-shadow: 0.5rem 0.5rem 1rem black;

        animation: fade-in-down 0.5s ease-in backwards 1.5s;

        &--item {
            @include button-background-hover;
            cursor: pointer;
            margin-left: 1rem;

            &:not(:last-child) {
                border-right: 1px solid var(--primary-color-yellow);
                padding-right: 1rem;
            }
        }
    }

    &__link {
        height: 4rem;
    }

    &__arrow {
        font-size: 1.2rem;
        color: var(--primary-color-yellow);

        animation: header__arrow 2s linear infinite backwards 2s;
        cursor: pointer;
    }

    &__navigation {
        position: absolute;
        bottom: 0;
        padding: 2rem;

        animation: fade-in-up 0.5s ease-in backwards 2s;

        @media (max-width: 400px) {
            opacity: 0;
        }

        @supports not (scroll-snap-align: start) {
            opacity: 0;
        }

        @media (min-width: 750px) {
            padding: 2rem 6rem;
        }
    }
}
